# Ambientes virtuais
.venv/
.venv312/
venv/
env/

# Cache do Python
__pycache__/
*.py[cod]

# Saídas de treino
Checkpoint/
logs/
runs/

# Pesos de modelos
*.pt
*.pth
*.ckpt

# Bases locais
LJSpeech-1.1/

# SO / editor
.vscode/
.idea/
.DS_Store
Thumbs.db
